[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
pytest = "*"
missingno = "*"
seaborn = "*"
scikit-learn = "*"
pymc = "*"
ipykernel = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.8"
